@use '../../../../styled/utils/' as *;

#rec-artist-mobile {
    margin-bottom: vw(40, 393);
    h2 {
        @include m-font-20px-600();
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: vw(20, 393);
    }
    .rec-artist-list-mobile {
        width: 100%;
        margin-right: vw(-20, 393);
        padding-left: vw(10, 393);
        .mySwiper {
            width: 100%;
            padding-right: vw(20, 393);
            .swiper-slide {
                .rec-artist-item-mobile {
                    cursor: pointer;
                    text-align: center;
                    img {
                        width: vw(60, 393);
                        height: vw(60, 393);
                        margin-bottom: vw(10, 393);
                    }
                    h3 {
                        @include m-font-12px-400();
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}
