@use '../../../../styled/utils' as *;

.goods_product_filter {
    position: relative;
    .goods_titles {
        width: vw(1500px);
        display: flex;
        padding: 0 30px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vw(80px);
    }
    .goods_title_m {
        font-size: vw(18px);
        font-weight: 700;
        font-family: 'Bricolage Grotesque', 'Pretendard';
    }
    .goods_title_N {
        font-size: vw(80px);
        font-family: 'Bricolage Grotesque', 'Pretendard';
        font-weight: 700;
    }
    .more_main_artist {
        position: absolute;
        left: 45%;
        @include button($mw: 238);
        color: #777;
        text-align: center;
        align-items: center;
        margin: vw(120) 0 vw(120) 0;
    }
}

@media screen and (max-width: 393px) {
    .goods_product_filter {
        .goods_titles {
            width: 360px;
            margin-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .goods_title_m {
            font-size: 12px;
        }

        .goods_title_N {
            font-size: 24px;
        }
    }
}
