@use '../../../styled/utils' as *;
.ive_secret {
    @include display_center();
    display: flex !important;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: vw(120) 0;
    .ive_content {
        display: flex;

        .left_ive_secret {
            display: flex;
            flex: 1;
            min-width: 0;
            flex-direction: column;
            width: vw(800);
            height: vw(800);
            .left_ive_text {
                position: relative;
                strong {
                    @include font-18px-700();
                    font-family: 'Bricolage Grotesque', 'Pretendard';
                }
                h2 {
                    font-size: 80px;
                    font-weight: 700;
                    font-family: 'Bricolage Grotesque', 'Pretendard';
                }
                box-sizing: border-box;
                width: vw(800);
                height: vw(425);
                padding: vw(50) vw(60);
                .more_main_musicV {
                    position: absolute;
                    left: 0%;
                    top: -30%;
                    @include button($mw: 170);
                    color: #777;
                    text-align: center;
                    align-items: center;
                    margin: vw(120) 0 vw(120) 0;
                }
            }
            .leftImg {
                display: flex;
                .leftImg1 {
                    position: absolute;
                    bottom: -80%;
                    left: -4%;
                }
                .leftImg2 {
                    position: absolute;
                    top: 50%;
                    left: 70%;
                }
            }
        }

        .music_video_right {
            margin-top: 3%;
            padding-left: 60px;
            width: vw(1050);
            height: vw(700);
            .muvi {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// 모바일 (tablet 이하)
@include tablet {
    .ive_secret {
        flex-direction: column; // 세로 배치
        align-items: center;

        .left_ive_secret,
        .music_video_right {
            width: 100%; // 화면 꽉 차게
            height: auto;
        }

        .music_video_right {
            margin-top: vw(24, 393);
            .muvi {
                width: 100%;
                height: vw(280, 393);
            }
        }
    }
}
