@use '../../../styled/utils' as *;

#main-visual {
    // @include bg();
    width: 100vw;
    height: vw(944);
    background-color: $m_color2;
    .visual_wrap {
        width: 100%;
        height: vw(944);

        .visual {
            @include display_center();
            gap: vw(60);
            .pic {
                width: vw(700);
                height: vw(394);
                overflow: hidden;
                img {
                    width: vw(700);
                }
            }
            strong {
                @include font-200px-700();
            }
        }
    }
}
@include tablet {
    #main-visual {
        // @include bg();
        width: 100vw;
        height: vw(383, 393);
        background-color: $m_color2;
    }
}
